.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 95vw;
}

.inputContainer {
    height: 90px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.playerInput {
    padding: 8px 20px;
    border-radius: 18px;
}

.playerInputsContainer {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    padding: 20px;
    width: 100%;
}

.boardContainer {
    background: lightseagreen;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 560px;
    width: 560px;
    /* margin: 20px; */
    /* border-radius: 20px; */
}

.submitButton {
    width: 100%;
    padding: 2px 50px;
    border-radius: 2px;
    background-color: rgb(71, 180, 213);
    color: black;
    transition: background-color 0.3s ease;
    border: 0.1px solid rgb(7, 136, 169);
}

.submitButton:hover {
    cursor: pointer;
    background-color: rgb(21, 105, 118);
}

.showPlayerContainer {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    margin: 30px;
    width: 100%;
}

.xPlayer, .oPlayer {
    padding: 0px 20px;
}

.xPlayer p, .oPlayer p {
    font-size: 17px;
    font-weight: 500;
}
.showCurrentPlayer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 30%;
    margin: 40px;
}

.players {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    margin: 0px 40px;
    font-weight: 800;
    font-size: 40px;
    border: 1px solid black;
    border-radius: 20px;
}

.players.activePlayer {
    background-color: black;
    color: white;
}

.showPlayers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    height: 400px;
}

.card {
    background: lightcyan;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 95%;
    border-radius: 20px;
}
