/* Div that surrounds the whole  */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 100px;
    height: 110px;
}

.inputContainer {
}

.playerInput {
    padding: 8px 20px;

}

.playerInputsContainer {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    padding: 20px;
    width: 450px;
}

.playerBox {
    display: flex;
    width: 40%;
    height: 250px;
    padding: 150px 300px;
}

.boardContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background: 'green';
    height: 400px;
    width: 400px;

}

.submitButton {
    width: 100%;
    padding: 15px 20px;
}